In [4]:
from azureml.core import Workspace, Datastore

datastore_name = "my_azure_blob_datastore_demo"
container_name = "containerdemo"
account_name = "pythonstorage111"
account_key = "xxxxxxx"

In [5]:
workspace = Workspace.from_config()

In [6]:
datastore = Datastore.register_azure_blob_container(
    workspace= workspace,
    datastore_name= datastore_name,
    container_name=container_name,
    account_name=account_name,
    account_key= account_key
)

In [7]:
datastores = workspace.datastores

In [8]:
for name,ds in datastores.items():
    print(name, ds.datastore_type)

my_azure_blob_datastore_demo AzureBlob
section2datastore AzureBlob
workspaceblobstore AzureBlob
workspacefilestore AzureFile
workspaceartifactstore AzureBlob
workspaceworkingdirectory AzureFile

In [1]:

import pandas as pd
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential

ml_client = MLClient.from_config(credential=DefaultAzureCredential())
data_asset = ml_client.data.get("loan-dataset", version="1")

df = pd.read_csv(data_asset.path)
df

Found the config file in: /config.json

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved